@import url(https://fonts.googleapis.com/css?family=Barlow:400,400i,500,600,700|Barlow+Semi+Condensed:400,500);

@font-face {
    font-weight: 400;
    font-style: normal
}

body, div {
    padding: 0;
    margin: 0;
}
body, a, div, p, span  {
    font-family: "Barlow", "Arial", serif;
}

.header {
    /*height: 100px;*/
    border-bottom: 1px solid #f0f0f0;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    border-bottom: 1px solid #f0f0f0;
    /*height: 100vh; !* Adjust the height as needed *!*/
}

.content {
    margin: 35px;
    /* Styles for the centered div */
    width: 80%;
    /* height: 50vh; !* Adjust the height as needed */
}

.content ul, li {
    padding-left: 15px;
}

.footer {
    color: #aaa;
}

.footer, .header {
    padding: 35px;
}

thead tr th:first-child,
tbody tr td:first-child {
    width: 25em;
    min-width: 25em;
    max-width: 25em;
    word-break: break-all;
}

.table {
    margin-bottom: 2rem;
}